{% extends 'base/base.html' %}

{% block content %}
<div id="canvas">
	<div id="box_wrapper">
		{% include 'base/header_pages.html' %}

		
        


        <section class="s-pt-30 s-pt-lg-50 ls about">
            <div class="divider-60 d-none d-xl-block"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="main-content text-center">
                            <h5>
                                "We love what we do and we love helping others succeed at what they love to do."
                            </h5>
                            <i class="rt-icon2-user"></i>
                            <p>
                                Gregory F. Parrino,
                                <span class="link-a">
                                    <a href="#">CEO</a>
                                </span>
                            </p>

                            <div class="divider-10 d-none d-xl-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="s-pt-0  s-pb-30 s-pt-lg-30 s-pb-lg-75 ls about-icon teaser-contact-icon">
            <div class="divider-10 d-none d-xl-block"></div>
            <div class="container">
                <div class="row c-mt-50 c-mt-lg-0">
                    <div class="col-lg-4 text-center call-icon">
                        <div class="border-icon">
                            <div class="teaser-icon">
                                <img src="images/icon1_about.png" alt="">
                            </div>
                        </div>
                        <h6>
                            Who We Are
                        </h6>
                        <div class="icon-content">
                            <p>
                                We are a team of San Diego web design and development professionals who love partnering with good people and businesses to help them achieve online success.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center write-icon">
                        <div class="divider-30 d-none d-xl-block"></div>
                        <div class="border-icon">
                            <div class="teaser-icon">
                                <img src="images/icon2_about.png" alt="">
                            </div>
                        </div>
                        <div class="icon-content">
                            <h6>
                                What We Do
                            </h6>
                            <p>
                                We’re focused on honing our crafts and bringing everything we have to the table for our clients. We create custom, functional websites focused on converting your users into customers.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center visit-icon">
                        <div class="border-icon">
                            <div class="teaser-icon">
                                <img src="images/icon3_about.png" alt="">
                            </div>
                        </div>
                        <div class="icon-content">
                            <h6>
                                Why We Do It
                            </h6>
                            <p>
                                Each of us loves what we do and we feel that spirit helps translate into the quality of our work. Working with clients who love their work combines into a fun, wonderful partnership for everyone involved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
 

        <section class="about-map ms page_map" >

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d978.3835882073492!2d72.79646753135064!3d40.52868832053666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bdad12f404472f%3A0x7a5dcf3fc3370c2b!2sololoOsh!5e0!3m2!1sru!2skg!4v1677584385711!5m2!1sru!2skg" width="1200" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


        </section>

		{% include 'base/footer.html' %}
	</div>
</div>
{% endblock content %}