

{% extends 'base/base.html' %}

{% block content %}
<div id="canvas">
	<div id="box_wrapper">
		{% include 'base/header_pages.html' %}

		{% include 'base/breadcrumbs.html' %} 


        <section class="ls s-pt-50 s-pb-50 s-pt-lg-50 s-pb-lg-100 blog1">
            <div class="container">
                <div class="d-none d-lg-block divider-65"></div>
        
                <div class="row c-mb-30 c-mb-xl-60">
                    <div class="col-lg-12 blog-featured-posts">
                        <div class="row justify-content-center">
                            {% for postTH in posts_therd %}
                            <div class="col-xl-4 col-md-6">
                                <article class="vertical-item text-center content-padding padding-small ls ms post type-post status-publish format-standard has-post-thumbnail">
                                    <div class="item-media post-thumbnail">
                                        <a href="post1.html">
                                            <img src="{{postTH.img.url}}" alt="">
                                        </a>
                                    </div>
                                    <!-- .post-thumbnail -->
                                    <div class="item-content">
                                        <header class="entry-header">
                                            <div class="entry-meta">
                                                <span class="screen-reader-text">Posted on</span>
                                                <a href="#" rel="bookmark">
                                                    <time class="entry-date published updated" datetime="2018-03-15T15:15:12+00:00">{{postTH.calendar}}
                                                    </time>
                                                </a>
                                            </div>
                                            <!-- .entry-meta -->
                                            <h6 class="entry-title">
                                                <a href="post1.html" rel="bookmark">
                                                    {{postTH.name}}
                                                </a>
                                            </h6>
                                        </header>
                                        <!-- .entry-header -->
        
                                        <div class="entry-content">
                                            <p>{{postTH.desc|safe|truncatewords:10}}</p>
                                        </div> 
                                    </div>
                                    <!-- .item-content -->
                                </article>
                                <!-- #post-## -->
        
                            </div> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
        
                <div class="row c-gutter-60">
        
                    <main class="col-lg-7 col-xl-8">
                        {% for postOTH in posts_others %}
                        <article class="text-md-left vertical-item ls post type-post status-publish format-standard has-post-thumbnail sticky">
                            <div class="data-thumbnail ds text-center">
                                <a href="#">
                                    <h4 class="data">
                                        {{postOTH.calendar|date:'d'}}
                                    </h4>
                                    <p>
                                        {{postOTH.calendar|date:'M'}}
                                    </p>
                                </a>
                            </div>
                            <div class="item-media post-thumbnail">
                                <a href="post1.html">
                                    <img src="{{postOTH.img.url}}" alt="">
                                </a>
                            </div>
                            <!-- .post-thumbnail -->
                            <div class="item-content">
                                <header class="entry-header">
                                    <h3 class="entry-title">
                                        <a href="post1.html" rel="bookmark">
                                            {{postOTH.name}}
                                        </a>
                                    </h3>
                                </header>
                                <!-- .entry-header --> 
        
                                <div class="entry-content">
                                    <p>
                                        {{postOTH.desc|safe|truncatewords:10}}
                                    </p> 
                                </div>
                                <!-- .entry-content -->
                            </div>
                            <!-- .item-content -->
                        </article>
                        {% endfor %}
                        <!-- #post-## --> 
        
        
                        <nav class="navigation pagination" role="navigation">
                            <h2 class="screen-reader-text">Posts navigation</h2>
                            <div class="nav-links">
                                <a class="prev page-numbers" href="blog-1.html">
                                    <i class="fa fa-chevron-left"></i>
                                    <span class="screen-reader-text">Previous page</span>
                                </a>
                                <a class="page-numbers" href="blog-1.html">
                                    <span class="meta-nav screen-reader-text">Page </span>
                                    1
                                </a>
                                <span class="page-numbers current">
                                    <span class="meta-nav screen-reader-text">Page </span>
                                    2
                                </span>
                                <a class="page-numbers" href="blog-1.html">
                                    <span class="meta-nav screen-reader-text">Page </span>
                                    3
                                </a>
                                <a class="next page-numbers" href="blog-1.html">
                                    <span class="screen-reader-text">Next page</span>
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </nav>
                    </main>
        
                    <aside class="col-lg-5 col-xl-4">
                        <div class="widget widget_search ds texture-ds">
                            <h6>Search</h6>
                            <form role="search" method="get" class="search-form" action="/">
                                <label for="search-form-widget">
                                    <span class="screen-reader-text">Search for:</span>
                                </label>
                                <input type="search" id="search-form-widget" class="text-left search-field form-control" placeholder="Search Keyword" name="Search Keyword">
                                <button type="submit" class="search-submit">
                                    <span class="screen-reader-text">Search</span>
                                </button>
                            </form>
                        </div>
        
        
                        <div class="categories-dropdown">
                            <div class="widget widget_categories dropdown">
        
                                <h3 class="widget-title">Categories</h3>
        
                                <label class="screen-reader-text" for="cat">
                                    Categories dropdown
                                </label>
                                <select name="cat" id="cat" class="postform">
                                    <option value="-1">Select Category</option>
                                    <option class="level-0" value="3">Corporate</option>
                                    <option class="level-0" value="4">Business</option>
                                    <option class="level-0" value="5">Entertainment</option>
                                    <option class="level-0" value="6">Innovations</option>
                                    <option class="level-0" value="8">News</option>
                                    <option class="level-0" value="9">Knowledge</option>
                                </select>
                            </div>
        
                        </div>
         
        
        
                        <div class="widget widget_calendar">
        
                            <div id="calendar_wrap" class="calendar_wrap">
                                <iframe src="https://calendar.yandex.ru/week?embed&layer_ids=12345&tz_id=Asia/Yekaterinburg" width="800" height="450" frameborder="0" style="border: 1px solid #eee"></iframe>
                            </div>
                        </div>
        
        
                        <div class="widget widget_flickr">
        
                            <h3 class="widget-title">Instagram</h3>
                            <ul class="flickr_ul flickr_loaded"></ul>
                        </div>
        
                        <div class="widget widget_tag_cloud">
        
        
                            <div class="tagcloud">
        
                                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-3bd01957-b75b-4d73-8364-1b25fa76f1d9"></div>
                            </div>
                        </div>
        
        
                    </aside>
        
                    <div class="d-none d-lg-block divider-105"></div>
                </div>
        
            </div>
        </section>
        

		{% include 'base/footer.html' %}
	</div>
</div>
{% endblock content %}