<div class="header_absolute s-pb-30">
    <header class="page_header ds">
        <div class="container-fluid">
            <div class="row align-items-center">
                {% include 'base/menu.html' %}
                <div class="search-box">
                    <input type="text" name="search" placeholder="search keyword" class="search-text">
                    <a href="#" class="search-btn">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu">
            <span></span>
        </span>
    </header>
</div>
<span class="toggle_menu_side header-slide">
    <span></span>
</span>