{% load static %} 
<div class="divider-10 d-block d-sm-none"></div>
<section class="s-pt-30 s-pt-lg-50 s-pt-xl-25 ls about-home" id="about">
	<div class="divider-5 d-none d-xl-block"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
				<div class="main-content text-center">
					<div class="img-wrap text-center">
						<img src="{% static 'img/vertical_line.png' %}" alt="">
						<div class="divider-35"></div>
					</div>
					<h5>
						We are the one of the most effective Web Design Companies
					</h5>
					<p>
						Getting online is easy. Succeeding online is a different story. You’ll need more than just a beautiful website to stand out these days.
						<strong>Online marketing solutions.</strong> Conversion-based web design coupled with a lead generating marketing plan, your online success is inevitable.
					</p>
					<div class="divider-30"></div>
					<div class="img-wrap text-center">
						<img src="{% static 'img/vertical_line.png' %}" alt="">
					</div>
					<div>
						<div class="divider-40"></div>
						<button type="button" class="btn btn-outline-maincolor">Get Started</button>
						<div class="divider-40"></div>
					</div>
					<div class="img-wrap text-center">
						<img src="{% static 'img/vertical_line.png' %}" alt="">
					</div>
					<div class="divider-10 d-none d-xl-block"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="divider-10 d-block d-sm-none"></div>
</section>
<section class="s-pt-30 s-pb-3 service-item2 ls animate" id="services" data-animation="fadeInUp">
	<div class="container">
		<div class="row c-mb-50 c-mb-md-60">
			<div class="d-none d-lg-block divider-20"></div>
			{% for ser in service %}
			<div class="col-12 col-md-6 col-lg-4">
				<div class="vertical-item text-center">
					<div class="item-media">
						<img src="{{ser.img.url}}" alt="">
					</div>
					<div class="item-content">
						<h6>
							<a href="service-single1.html">{{ser.name}}</a>
						</h6>

						<p>
							{{ser.desc}}
						</p>

					</div>
				</div>
			</div>
			{% endfor %}
			<!-- .col-* --> 
		</div>
		<div class="pink-line text-center">
			<img src="{% static 'img/pink_line_big.png' %}" alt="">
		</div>
	</div>
</section>