{% load static %}
<section class="page_slider main_slider">
    <div class="flexslider" data-nav="true" data-dots="false">
        <ul class="slides">
            {% for slider in sliders %}
            <li class="ds text-center slide1">
                <span class="flexslider-overlay"></span>
                {% if slider.image.url is not None %}
                    <img src="{{slider.image.url}}" alt="">
                {% else %}
                    <span class="embed-responsive embed-responsive-16by9">
                        <iframe src="{{slider.video_link}}" allowfullscreen=""></iframe>
                    </span>
                {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="col-12 itro_slider">
                            <div class="intro_layers_wrapper">
                                <div class="intro_layers">
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <p class="text-uppercase intro_after_featured_word">{{slider.title_regular}}</p>
                                    </div>

                                    <div class="intro_layer" data-animation="slideRight">
                                        <h2 class="text-uppercase intro_featured_word">
                                            {{slider.title_bold}}
                                        </h2>
                                    </div>
                                    <div class="intro_layer" data-animation="fadeIn">
                                        <h3 class="intro_before_featured_word">
                                            <span class="color-main3">{{slider.title_sing}}</span> 
                                        </h3>
                                    </div>
                                    <div class="intro_layer page-bottom" data-animation="expandUp">
                                        <a class="btn btn-maincolor" href="about.html">Get Started</a>
                                    </div>
                                </div>
                                <!-- eof .intro_layers -->
                            </div>
                            <!-- eof .intro_layers_wrapper -->
                        </div>
                        <!-- eof .col-* -->
                    </div>
                    <!-- eof .row -->
                </div>
                <!-- eof .container -->
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- eof flexslider -->
    <div class="flexslider-bottom d-none d-xl-block">
        <a href="#about" class="mouse-button animated floating"></a>
    </div>
</section>